
#sfnOverlay.overlay
  a.closebtn(href="javascript:void(0)", onclick="closeNav()") &times;
  .overlay-content
    a(href="#") DataJoint @ SfN 2018
        br
        .overlaytext Vathes LLC will demo DataJoint at the SfN 2018 Exhibitor Booth
        br
        | Nov.4-7, 2018
        br
        p.overlaytext San Diego Convention Center - San Diego, CA
        .overlaytext Booth #3930
button#sfnButton(onclick="openNav()") SfN 2018

